@model DeviceCloud.Models.News

<div class="am-container">
    <div class="am-article">
        <div class="am-article-hd">
            <h4 class="am-article-title" id="top">新闻详情</h4>
            <hr class="am-article-divider"/>
            <div class="am-article-title">
                @Model.Title
            </div>
            <h4 class="am-article-meta">
                发布于 @Model.CreateTime.ToShortDateString()
            </h4>
        </div>
        <div class="am-article-bd">
            <div class="am-article-lead">
                @Model.Introduction
            </div>
            <div>
                @Model.Content
            </div>
        </div>
    </div>
</div>
<div class="am-g am-g-fixed">
    <div class="am-u-md-1">
        <div class="am-btn-success"  href="@Url.Action("List", "News")">编辑</div>
    </div>
    <div class="am-u-md-1 am-u-end">
        <div class="am-btn-primary" href="@Url.Action("List", "News")">编辑</div>
    </div>
</div>
