<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>@ViewBag.Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="alternate icon" type="image/png" href="~/Content/favicon.ico">
	@Styles.Render("~/bundles/common-css")
	
	<style>
		.footer p {
			color: #eee;
			margin: 0;
			padding: 15px 0;
			text-align: center;
			background: #196dbe;
		}
			.footer p a {
				color:#adc8f8 !important;
			}
	</style>
	@RenderSection("CustomStyle",false)
</head>
<body>
<header class="am-topbar am-topbar-fixed-top">
	<div class="am-container">
		<h1 class="am-topbar-brand">
			<a href="#">慧生智医疗云</a>
		</h1>

		<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
		        data-am-collapse="{target: '#collapse-head'}">
			<span class="am-sr-only">这是导航切换按钮,这些字都看不到</span> <span class="am-icon-bars"></span>
		</button>

		<div class="am-collapse am-topbar-collapse" id="collapse-head">
			<ul class="am-nav am-nav-pills am-topbar-nav">
				<li class="am-active"><a href="#">首页</a></li>
				<li><a href="#">项目</a></li>
				<li class="am-dropdown" data-am-dropdown>
					<a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
						下拉菜单 <span class="am-icon-caret-down"></span>
					</a>
					<ul class="am-dropdown-content">
						<li class="am-dropdown-header">标题</li>
						<li><a href="#">1. 默认样式</a></li>
						<li><a href="#">2. 基础设置</a></li>
						<li><a href="#">3. 文字排版</a></li>
						<li><a href="#">4. 网格系统</a></li>
					</ul>
				</li>
			</ul>

			<div class="am-topbar-right">
				<button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm">
					<span class="am-icon-pencil"></span> 注册
				</button>
			</div>

			<div class="am-topbar-right">
				<button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">
					<span class="am-icon-user"></span> 登录
				</button>
			</div>
		</div>
	</div>
</header>

	@RenderBody()

	<footer class="footer">
		<p>
			© 2014 <a href="http://www.yunshipei.com" target="_blank">AllMobilize, Inc.</a> Licensed under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>. by the AmazeUI Team.
		</p>
	</footer>

	<!--[if lt IE 9]>
		@Scripts.Render("~/bundles/ie9-lt-js")
	<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
	<![endif]-->
	<!--[if (gte IE 9)|!(IE)]><!-->
	@Scripts.Render("~/bundles/ie9-gt-js")
	<!--<![endif]-->
	@RenderSection("CustomScripts",false)
</body>
</html>
